.activeFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 100px
}

.activeFilters span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 12px;
  height: 48px;
  gap: 6px;
  font-size: 14px;
  color: #000;
  background-color: #DADDE1;
}

.activeFilters svg {
  width: 20px;
  height: 20px;
  color: #000;
  
}
