.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background-color: #fff;
}


.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
  color: #6C717B;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin: 16px 0 8px;
  color: #000;
}


.locationInput {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  padding: 16px 214px 16px 20px;
  width: 360px;
  border-radius: 12px;
  background-color: #F7F7F7;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #000;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: #F7F7F7;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  justify-items: center;
}

.iconBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 16px 40px;
  width: 112px;
  height: 96px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  color: #000;
  cursor: pointer;

  font-size: 12px;
  transition: all 0.2s ease;
}

.iconBtn svg {
  width: 32px;
  height: 32px;
  fill: #374151;
}

.iconBtn span {
  font-size: 12px;
}


.iconBtn.active {
  border-color: #D84343;
}

.buttons {
  display: flex;
  gap: 8px;
}

.applyBtn {
  flex: 1;
  height: 56px;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #E44848;
  color: white;
}

.applyBtn:hover {
  background-color: #D84343;
}

.resetBtn {
  flex: 1;
  height: 56px;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #E44848;
  color: white;
}

.resetBtn:hover {
  background-color: #9ca3af;
}


 