
.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background-color: #fff;
  box-sizing: border-box;

}


.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
  color: #6C717B;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin: 16px 0 8px;
  color: #000;
}


.locationInput {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  padding: 0 16px;
  height: 48px;
  border-radius: 12px;
  background-color: #F7F7F7;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.locationInput:focus-within {
  border-color: #D84343;
  box-shadow: 0 0 0 2px rgba(216, 67, 67, 0.2);
}

.icon {
  width: 20px;
  height: 20px;
  fill: #000;
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: transparent;
  color: #101828;
}


.iconGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 24px;
  border-top: 1px solid #e5e7eb;
}

.iconBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 16px 0;
  width: calc(33.333% - 6.66px);
  height: 96px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s ease;
}

.iconBtn svg {
  width: 32px;
  height: 32px;
  fill: #374151;
}

.iconBtn span {
  font-size: 12px;
}

.iconBtn.active {
  border-color: #D84343;
}


.buttons {
  display: flex;
  gap: 8px;
}

.applyBtn,
.resetBtn {
  flex: 1;
  height: 56px;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.applyBtn {
  background-color: #E44848;
  color: #fff;
}

.applyBtn:hover {
  background-color: #D84343;
}

.resetBtn {
  background-color: #E44848;
  color: #fff;
}

.resetBtn:hover {
  background-color: #9ca3af;
}

@media (max-width: 480px) {
  .locationInput {
    padding: 0 12px;
  }

  .iconBtn {
    width: 48%;
    margin-bottom: 8px;
  }
}


@media screen and (min-width: 768px) {
  .iconBtn {
    width: calc(33.333% - 10px);
  }
}


@media screen and (min-width: 1440px) {
  .sidebar {
    width: 360px;
    flex-shrink: 0;
  }

  .iconBtn {
    width: 112px;
  }

  .buttons {
    gap: 12px;
  }
}
