.details {
  display: block;
  width: 527px;
  height: 296px;
  padding-top: 50px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 16px;
  color: #000;
}

.list {
  display: grid;
  gap: 16px 24px;
}

.item {
  color: #101828;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.label {
  font-weight: 600;
}

.value {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #475467;
}
