.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.image {
  width: 100%;
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #000;
}
