.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/10; 
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
}

.image:hover {
  transform: scale(1.02);
  border-color: #0070f3;
}


@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 24px;
  }
}


@media screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); 
    gap: 48px;
  }

  .image:hover {
    transform: scale(1.01);
  }
}
