.card {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    
}

.imageWrapper {
    flex-shrink: 0;
    width: 292px;
    height: 320px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.rightSidePrice {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.ratingLocation {
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #6c717b;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1; 
    overflow: hidden;
    margin-bottom: 24px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.feature {
    background: #f2f4f7;
    border-radius: 100px;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    gap: 8px;
    text-align: center;
}

.featureIcon {
    width: 20px;
    height: 20px;
}

.showMoreBtn {
    width: 166px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e44848;
    color: #fff;
    border-radius: 200px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-top: auto;
    transition: all 0.3s ease;
}

.showMoreBtn:hover {
    background: #c43737;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.favoriteBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.filterIconSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: #FFC107;
}

.filterIconSvgHeart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 22px;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.favoriteBtn.animateHeart .filterIconSvgHeart {
    transform: scale(1.4);
}
