.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 24px;
}

.header {
  margin-bottom: 28px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 133%;
  margin-bottom: 8px;
  color: #000;
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #000;
}

.description {
  margin: 28px 0 60px;
  color: #475467;
  max-width: 900px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/* .bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-top: 40px;
  align-items: stretch;
}

.left {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 100%; 
}


.right {
  position: sticky;
  top: 24px;
  height: fit-content;
  border: 1px solid #DADDE1;
  border-radius: 10px;
  padding: 44px 57px ;
  margin-top: 65px;
} */

.bottom {
  display: flex;
  gap: 40px;
  align-items: stretch;       
  justify-content: center;   
  max-width: 1280px;          
  margin: 40px auto 0;       
}


.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 44px 52px;
}

.right {
  flex: 1;
  border: 1px solid #DADDE1;
  border-radius: 10px;
  padding: 44px 57px;
  height: auto;
  position: sticky;
  top: 24px;
}



.rating,
.locationText {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #6b7280;
}
